{{>admin_navigation}}
<main class="index">
    <header class="masthead d-flex ">
        <div class="container text-center my-auto">
            <br>
            <h1 class="mb-2">Petfood</h1>
            <h3 class="mb-5">
                <em>Bienvenido Empresa</em>
                <a href="/empresa/perfil/editar" class="btn btn-success">Editar perfil</a>
            </h3>
            

        </div>
    </header>
</main>
