{{>navigation}}
<main class="index">
    <header class="masthead d-flex ">
        <div class="container text-center my-auto">
            <br>
            <h1 class="mb-2">Petfood</h1>
            <h3 class="mb-5">
                <em>Encontraras gran variedad en todo tipo de comida para tus mascotas</em>
                <br> <br>
                <a href="/usuario/catalogo" class="btn btn-success">Ver el catálogo de productos</a>
            </h3>

        </div>
    </header>
</main>